* {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', 'iconfont';
  font-size: 62.5%; }

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #333333; }

ol,
ul,
li {
  list-style-type: none; }

input {
  outline: none;
  border: none;
  background: none; }

/*border-radius*/
.go {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0 5%;
  width: 90%;
  height: 47px;
  background: #00b380; }
  .go .go-back {
    float: left;
    width: 23%;
    height: 47px;
    line-height: 47px;
    color: #ffffff;
    font-size: 1.6rem; }
  .go .go-omit {
    float: right;
    width: 15%;
    height: 47px;
    color: #ffffff;
    text-align: right;
    font-size: 2.6rem;
    line-height: 34px; }

.topic {
  margin-top: 47px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #b0b0b0; }
  .topic .topic-content {
    overflow: hidden;
    padding: 0 5%;
    width: 90%;
    height: auto; }
    .topic .topic-content .topic-top {
      overflow: hidden;
      margin: 15px 0 8px 0;
      width: 100%;
      height: auto; }
      .topic .topic-content .topic-top .topic-top-head {
        float: left;
        margin-right: 5%;
        width: 60px;
        height: 60px;
        border: 1px solid #b0b0b0;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%; }
      .topic .topic-content .topic-top .topic-top-ranking {
        margin-top: 15px;
        float: left;
        height: 25px;
        width: calc(95% - 67px); }
        .topic .topic-content .topic-top .topic-top-ranking span {
          float: left;
          color: #00b380;
          text-align: center;
          font-size: 1.8rem; }
      .topic .topic-content .topic-top .topic-top-data {
        float: left;
        height: 20px;
        color: #000000;
        line-height: 24px;
        text-align: center;
        font-size: 1.4rem; }
      .topic .topic-content .topic-top .topic-top-time {
        margin-left: 10px;
        float: left;
        height: 24px;
        color: #000000;
        line-height: 23px;
        text-align: center;
        font-size: 1.4rem; }
    .topic .topic-content .topic-writer {
      width: 100%;
      height: auto;
      color: #999999;
      line-height: 26px;
      font-size: 1.4rem;
      text-indent: 2.8rem;
      text-overflow: ellipsis;
      overflow: hidden; }
  .topic .topic-comment {
    margin: 5px 0 16px 0;
    width: 100%;
    height: 38px;
    background: #f4f4f4; }
    .topic .topic-comment li {
      float: left;
      width: 33%;
      height: 38px; }
      .topic .topic-comment li .topic-comment-content {
        margin: 0 auto;
        width: 75%;
        height: 38px;
        text-align: center; }
        .topic .topic-comment li .topic-comment-content .topic-comment-logo {
          height: 38px;
          text-align: center;
          font-size: 1.6rem;
          line-height: 38px;
          color: #aaaaaa; }
        .topic .topic-comment li .topic-comment-content .attention {
          width: 23px;
          height: 38px;
          text-align: center;
          font-size: 1.7rem;
          line-height: 38px;
          color: #aaaaaa; }
        .topic .topic-comment li .topic-comment-content .attention:nth-child(2) {
          display: none;
          color: #00b380; }
        .topic .topic-comment li .topic-comment-content .topic-comment-number {
          height: 38px;
          line-height: 38px;
          color: #aaaaaa; }
    .topic .topic-comment .topic-comment-left {
      margin-top: 12px;
      float: left;
      width: 1px;
      height: 14px;
      background: #aaaaaa;
      text-align: center; }

.sort {
  margin: 14px 5% 0 0;
  float: right;
  color: #000000;
  text-align: center;
  font-size: 1.2rem; }
  .sort .sort-heat {
    float: left; }
  .sort .sort-heat.h {
    color: #00b380; }
  .sort .sort-wire {
    margin: 3px 8px;
    float: left;
    width: 1px;
    height: 12px;
    background: #000000;
    text-align: center; }

.reply {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #b0b0b0; }
  .reply .reply-content {
    overflow: hidden;
    padding: 0 5%;
    width: 90%;
    height: auto; }
    .reply .reply-content .reply-top {
      overflow: hidden;
      margin: 8px 0;
      width: 100%;
      height: auto; }
      .reply .reply-content .reply-top .reply-top-head {
        float: left;
        margin-right: 5%;
        width: 60px;
        height: 60px;
        border: 1px solid #b0b0b0;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%; }
      .reply .reply-content .reply-top .reply-top-ranking {
        margin-top: 15px;
        float: left;
        height: 20px;
        width: calc(95% - 67px); }
        .reply .reply-content .reply-top .reply-top-ranking span {
          float: left;
          color: #00b380;
          text-align: center;
          font-size: 1.4rem; }
        .reply .reply-content .reply-top .reply-top-ranking .reply-top-sort {
          float: right;
          color: #999999;
          line-height: 18replypx;
          text-align: center;
          font-size: 1.2rem; }
          .reply .reply-content .reply-top .reply-top-ranking .reply-top-sort .reply-top-heat {
            margin-left: 8px;
            float: left;
            font-size: 1.4rem; }
          .reply .reply-content .reply-top .reply-top-ranking .reply-top-sort .reply-top-heat:first-of-type {
            margin-top: -5px;
            font-size: 1.8rem; }
      .reply .reply-content .reply-top .reply-top-data {
        float: left;
        height: 20px;
        color: #999999;
        line-height: 24px;
        text-align: center;
        font-size: 1.4rem; }
      .reply .reply-content .reply-top .reply-top-time {
        margin-left: 10px;
        float: left;
        height: 24px;
        color: #999999;
        line-height: 23px;
        text-align: center;
        font-size: 1.4rem; }
    .reply .reply-content .reply-writer {
      margin: 25px 0;
      width: 100%;
      height: auto;
      color: #000000;
      line-height: 26px;
      font-size: 1.4rem;
      text-overflow: ellipsis;
      overflow: hidden; }
